<mat-card>
  <mat-card-header class="card-header">LOGIN</mat-card-header>
  <form [formGroup]="form" class="p-2" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
        autofocus
        autocomplete="off"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
        required
      />
    </mat-form-field>

    <mat-progress-bar
      *ngIf="isLoading"
      mode="indeterminate"
      class="mb-1"
      color="accent"
    ></mat-progress-bar>

    <button
      mat-raised-button
      color="accent"
      [disabled]="form.invalid || isLoading"
    >
      LOGIN
    </button>
  </form>
</mat-card>
